<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <appSettings>
    <add key="ConnectionString_Oracle" value="Data Source=prod101;Persist Security Info=True;User ID=bm;Unicode=True;pwd=bmapp;Max Pool Size=512;Pooling=True;"/>
    <add key="ServerIP" value="127.0.0.1"/>
    <add key="Port" value="8009"/>
    <add key="ClientCount" value="1000"/><!--最大连接数-->
    <add key="CopyDay" value="3"/><!--复制几天的数据int-->
    <add key="UpDay" value="3"/> <!--上传几天的数据int-->
    <add key="LogDay" value="15"/><!--日志保留几天int-->
    <add key="FileDay" value="15"/><!--复制过来的数据保留几天int-->
    <add key="FrequencyCopy" value="5"/> <!--复制文件频率单位分钟int-->
    <add key="FrequencyUp" value="1"/> <!--上传文件频率单位分钟int-->
    <add key="FrequencyDelete" value="1"/><!--删除文件频率单位小时int-->
    <add key="FrequencyHeart" value="120"/><!--心跳频率单位秒int-->
    <add key="ClientName" value="SamWolf01"/><!--客户端名称-->
    <add key="Fileisrelease" value="0"/><!--文件是否释放，用于复制的时候是否check大小变化-->
    <add key="DebugPassword" value="SamWolf911"/><!--界面操作调试密码-->
    <add key="UpFilePath1" value="fileBuck"/><!--文件上传路径1-->
    <add key="UpFilePath2" value=""/><!--文件上传路径2-->
    <add key="CopyFilePath" value="E:\新人必学"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
