<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="ConnectionString_Oracle" value="Data Source=mes;Persist Security Info=True;User ID=mesapp;Unicode=True;pwd=mesapp;Max Pool Size=512;Pooling=True;"/>
      <add key="ServerIP" value="127.0.0.1"/>
      <add key="Port" value="8009"/>
      <add key="ServerName" value="SamWolf"/>
      <add key="Systype" value="Server"/>
      <add key="Dberror" value="DBERROR"/>
      <add key="SaveLog" value="1"/>
      <add key="ClientCount" value="100"/>
      <add key="HttpTimeOut" value="6000"/>
      <add key="LogDay" value="30"/><!--日志保留几天int-->
      <add key="DebugPassword" value="samwolf911" /><!--界面操作调试密码-->
      <add key="FileDay" value="15"/><!--复制过来的数据保留几天int-->
      <add key="FrequencyDelete" value="3"/><!--删除文件频率单位小时int-->
      <add key="FrequencyCheck" value="10"/><!--检测客户端长连接的频率单位分钟int-->
      <add key="FrequencyUpFtp" value="1"/><!--ftp上传的频率单位分钟int-->
      <add key="FTPIP" value="192.168.5.84"/><!--ftp地址-->
      <add key="FTPUser" value="mesftp"/><!--ftp用户-->
      <add key="FTPPsd" value="mesftp"/><!--ftp密码-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>